<div class="col-lg-9">
    <div class="row">
        <div class="col-lg-12">
            <h2>مشتری</h2>
        </div>
        <div class="col-xs-12 col-md-12">
            <table class="table-bordered">
                <tr>
                    <td><span class="text-info">ایمیل:</span></td>
                    <td>{{result.email}}</td>
                </tr>
                <tr>
                    <td><span class="text-info">نام:</span></td>
                    <td>{{result.firstName}} {{result.lastName}}</td>
                </tr>
                <tr>
                    <td><span class="text-info">آدرس اول:</span></td>
                    <td>{{result.address1}}</td>
                </tr>
                <tr>
                    <td><span class="text-info">آدرس دوم:</span></td>
                    <td>{{result.address2}}</td>
                </tr>
                <tr>
                    <td><span class="text-info">کشور:</span></td>
                    <td>{{result.country}}</td>
                </tr>
                <tr>
                    <td><span class="text-info">شهر:</span></td>
                    <td>{{result.state}}</td>
                </tr>
                <tr>
                    <td><span class="text-info">کد پستی:</span></td>
                    <td>{{result.postcode}}</td>
                </tr>
                <tr>
                    <td><span class="text-info">شماره همراه:</span></td>
                    <td>{{result.phone}}</td>
                </tr>
                <tr>
                    <td><span class="text-info">تاریخ ایجاد:</span></td>
                    <td>{{formatDate result.created "DD/MM/YYYY hh:mmA"}}</td>
                </tr>
            </table>
        </div>
    </div>
    <input type="hidden" id="productId" value="{{result._id}}">
</div>
{{> partials/menu}}

